################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Domaın/bin/Debug/net5.0
/Domaın/obj
/Presentation/bin/Debug/net5.0
/Presentation/obj
/TestProject/bin/Debug/net5.0
/TestProject/obj
